.page-block{
    position: relative;
    width: 100%;
    padding: 50px 20px;
    color: inherit;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-intro{
  font-size: 18px;
}
